body {
  margin-top: 20px;
  font-family: sans-serif;
  background-color: rgb(237, 237, 237);
}

h1 {
  font-size: 45px;
  margin-bottom: 2vh;
  margin-top: 1vh;
}

h2 {
  font-size: large;
  margin-bottom: 5px;
}
.current-weather {
  margin: 0px;
}
h4 {
  margin-top: 0;
  margin-bottom: 5px;
}

.container {
  margin: auto;
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  border: 2px solid olive;
  max-width: 75vw;
  min-height: 75vh;
  justify-content: flex-start;
  border-radius: 15px;
  box-shadow: 10px 10px 10px lightgrey;
  background-color: white;
  background-color: white;
}

.min-max-container {
  display: flex;
  align-items: center;
  margin-top: 4rem;
}

.wind-humidity-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
.min-max {
  display: flex;
  align-items: center;
  margin: 0px;
}
.searchbar {
  margin-top: 1vh;
}

.weather-container {
  display: flex;
  margin-top: 1rem;
}

.temperature-container {
  display: flex;
  padding-right: 10px;
  align-items: center;
}
.temperature {
  font-size: 50px;
  margin: auto;
  padding: 0px;
  display: flex;
  /* font-stretch: ; */
}
.celsius {
  font-size: 30px;
}

.weather-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.weather-info #wicon{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 600px) {
  /* Change layout to single column */
  .container {
    flex-direction: column;
  }
  .temperature-container, .weather-info {
    margin-top: 1rem;
  }
  .weather-container{
    flex-direction: column;
  }
}
  